<% if notice %>
  <div class="infobar"><%= notice %></div>
<% end %>
<div class='input_form wide'>
  <h2>
    <% if @game.user_turn %>
      It is your turn (<%=@game.user_color.capitalize%>)
    <% else %>
      It is the computer's turn (<%=@game.computer_color.capitalize%>)
    <% end %>
  </h2>
  <div class="field">
    <%= render :partial => "shared/chess_board", :locals => {:board => @board } %>
  </div>
  <% if @game.user_turn %>
    <div class="move_field">
    <%= form_tag play_move_url do %>
      <%= label_tag :move, 'Your move:' %><br />
      <%=hidden_field_tag(:slug, @game.slug) %>
      From: <%= text_field_tag(:from, nil, :class => 'small') %>
      To:  <%= text_field_tag(:to, nil, :class => 'small') %><br/><br/>
      <%= submit_tag("Play move") %>
    <% end %>
  </div>
<% end %>
</div>