<div class='input_form'>
    <h2> Enter your name to create a new game! </h2>
    <p id="notice"><%= notice %></p>

    <%= form_for(@game, :url => play_register_url) do |f| %>
      <div class="field">
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name %>
      </div>
     
      <div class="actions">
        <%= f.submit "New game" %>
      </div>
    <% end %>
</div>