<table class = 'chess-board-small'>
  <% board.fields.reverse.each do |row| %>
      <tr>
        <% row.each do |field| %>
            <td class= "field-<%=field.color.to_s%> piece-type-<%=field.piece.type.to_s rescue "none"%> piece-color-<%=field.piece.color.to_s rescue "none"%>">
            <span><%=field.name%></span>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>
