<h1>Listing games</h1>

<table class='listing'>
  <tr>
    <th>User name</th>
    <th>Turn</th>
    <th>User turn</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.user_name %></td>
    <td><%= game.turn %></td>
    <td><%= game.user_turn %></td>
    <td><%= game.slug %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
