<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @game.user_name %>
</p>

<p>
  <b>Turn:</b>
  <%= @game.turn %>
</p>
<p>
  <b>User turn:</b>
  <%= @game.user_turn %>
</p>

<p>
  <b>Slug:</b>
  <%= @game.slug %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
