<h1>Listing boards</h1>

<table class='listing'>
  <tr>
    <th>Game</th>
    <th>User turn</th>
    <th>Turn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= board.game_id %></td>
    <td><%= board.user_turn %></td>
    <td><%= board.turn %></td>
    <td><%= link_to 'Show', board %></td>
    <td><%= link_to 'Edit', edit_board_path(board) %></td>
    <td><%= link_to 'Destroy', board, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Board', new_board_path %>
