<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @board.game_id %>
</p>

<p>
  <b>User turn:</b>
  <%= @board.user_turn %>
</p>

<p>
  <b>Turn:</b>
  <%= @board.turn %>
</p>


<%= render :partial => "shared/chess_board", :locals => {:board => @board }%>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
