/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
    color: #333333;
    direction: ltr;
    font: 81.25%/1 arial,helvetica,sans-serif;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, tr, td, form, object, embed, article, aside, canvas, command, details, figcaption, figure, footer, group, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
}

h1{
 text-align:center;
 margin-top:30px;
}
div.menu {
    width: 100%;
    height: 29px;
    color: #CCCCCC;
    background-color: #2d2d2d;
    line-height:27px;
    overflow: hidden;
}

div.menu ol {
    list-style: none;

}

div.menu li.active a{
    color:white;
    font-weight: bold;
}

div.menu li{
    position: relative;
    display: inline-block;
    padding: 0;
}

div.menu li a{
    color:#ccc;
    cursor: pointer;
    display: block;
    text-decoration:none;
}

div.menu ol li a{
    font: 13px/27px Arial,sans-serif;
}

div.menu ol li a:hover{
    background-color:#4c4c4c;
}

div.menu ol li a span{
    padding:  0 5px 0 5px;
    border-left:  1px solid transparent;
    border-right:  1px solid transparent;

}

div.menu li a span.indicator{
    display:block;

}

div.menu li.active a span.indicator{
    border-top: 2px solid #DD4839;
}


div.user_menu {
    display: inline-block;
    float:right;

    margin-right: 10px;
}

div.menu div.buttons {
    display: inline-block;
    margin-left: 10px;

}

div.header {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    height: 71px;
    overflow: hidden;
}

div.header_content{
    padding: 0 44px;
}

div.header div.title {
    font-weight: bold;
    font-size: 21px;
    color: #DD4B39;
    margin: 14px 0 0;
    width:100%;
    text-align: center;
}

div.header div.sub_title {
    width:100%;
    text-align: center;
    overflow:hidden;
    color: #888888;
}

input[type='submit'].disabled {
    background-color: gray;
    border-color: darkgray;
}

input[type='submit'].disabled:hover {
    background-color: gray;
    border-color: darkgray;
}

input[type="submit"] {
    font-size: 13px;
    height: 32px;
    margin: 0 1.5em 1.2em 0;
    line-height: 29px;
    vertical-align: bottom;
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.218s ease 0s;
    -moz-user-select: none;
    cursor: default;
    display: inline-block;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
}

input[type='submit']:hover {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    border: 1px solid #2F5BB7;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

a.button{
    display: inline-block;
    color:white;
    text-decoration: none;
}

div.file_uploader{
    display:inline-block;
}

a.button:visited{
    color:white;
}

.button {
    font-size: 13px;
    height: 32px;
    margin: 0 1.5em 1.2em 0;
    line-height: 29px;
    vertical-align: bottom;
    background-color: #D14836;
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836) ;
    border: 1px solid transparent;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.218s ease 0s;
    -moz-user-select: none;
    cursor: default;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
}

.button:hover {
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 1px 0px;
    background-color: #C53727;
    background-image: -moz-linear-gradient(top , rgb(221,75,57), rgb(197,55,39));
    border: 1px solid #B0281A;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

label {
    font-weight:700;

     margin: 0 0 0.5em;
}

h2 {
    font-family: arial;
    font-size: 16px;
    height: 16px;
    line-height: 17px;
    font-weight:700;
    margin: 0 0 1.2em;
    position: relative;
    color: #888888;
    text-align:right;
}

input[type="email"], input[type="number"], input[type="password"], input[type="text"], input[type="url"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding-left: 8px;
    font-size: 15px;
    height: 32px;
    width: 98%;
}

input[type='text'].small{
  width:100px;
}
textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding-left: 8px;
    font-size: 15px;
    height: 64px;
    width: 98%;
}

input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="url"]:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="url"]:focus {
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}

div.input_form {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    padding: 20px 25px 15px;
    width: 600px;
    margin-bottom: 50px;
}

div.infobar {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    padding: 20px 25px 15px;
    width: 600px;
    margin-bottom: 50px;
    font-size:30pt;
    font-family: Arial;
    text-align:center;
    color: #505050;
    line-height: 45px;
}

div.input_form.wide{
     width:800px;
}

table.listing{
     width: 90%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
}

table.listing tr{
    width:100%
}

div.list_view div.buttons{
    margin-top:20px;
    width: 90%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
}

div.list_view div.buttons a{
    position:relative;
    margin: 0;
}


table.listing {
    border: 1px solid #E0E0E0;
    cursor:pointer;
    border-collapse: collapse
}

table.listing tr {
    background: rgba(243, 243, 243, .85);
    color: #222;
    border-bottom: 1px #E5E5E5 solid;
    height: 35px;
}

table.listing tr td{
    padding: 7px;
    overflow: hidden;
    vertical-align: middle;
    height: 2.83ex;
}

table.listing tr td.speaker{
    padding-left: 20px;

}

table.listing tr td.speaker span.theme{
    color:gray;
}

table.listing tr td.recorded_at {
    width: 100px;
    
}

table.listing tr td.published {
    width:100px;

}

table.listing tr td.account{
    width:100px;

}

table.listing tr td.delete{
    text-align:right;
    width:20px;
}

table.listing tr td.delete a{
    margin: 0;
    padding: 0;
    width:16px;
}
table.listing tr div.delete_button {
    width: 16px;
    height: 16px;
    background: url(/assets/sprite_black.png) no-repeat -65px -44px;
    display: inline-block;
    padding: 0;
    overflow: hidden;
}

table.listing tr td a{
    text-decoration: none;
    width:100%;
    margin-right:20px;
    display:inline-block;
    height:20px;
    overflow: hidden;
}

table.listing tr td a:hover{
    color: inherit;
    background-color: inherit;

}

table.listing tr:hover {
    background-color: rgba(243, 243, 243, .45);
}

/********************** CHESS BOARD STYLES **********************/
$white: #FFFF99;
$black: #663300;

table.chess-board {
  border-spacing:0;
  border-collapse: collapse;
  
  td {
    width: 100px;
    height: 100px;
    background-image:url('chess-pieces.png');
    background-repeat:no-repeat;
    padding:0;
    vertical-align:top;
    
  }
  
  td.field-black {
    background-color: $black;
    color:white;
  }
  
  td.field-white {
    background-color: $white;
    color:black;
  }
  
  td.piece-type-none {
    background-image: none;
  }
  
  td.piece-color-black { background-position-y: -68px; }
  td.piece-color-white { background-position-y: -211px; }
  td.piece-type-king { background-position-x: -60px; }
  td.piece-type-queen { background-position-x: -225px; }
  td.piece-type-bishop { background-position-x: -565px; }
  td.piece-type-knight { background-position-x: -730px; }
  td.piece-type-rook { background-position-x: -395px; }
  td.piece-type-pawn { background-position-x: -900px; }

}

table.chess-board-small {
  border-spacing:0;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  td {
    width: 50px;
    height: 50px;
    background-image:url('chess-pieces-small.png');
    background-repeat:no-repeat;
    padding:0;
     vertical-align:bottom;
  }
  
  td.field-black {
    background-color: $black;
    color: white;
    span {
      background-color:$black;
    }
  }
  
  td.field-white {
    background-color: $white;
    color:black;
    span {
     background-color:$white;
    }
  }
  
  td.piece-type-none {
    background-image: none;
    
  }
  
  td.piece-color-black { background-position-y: -34px; }
  td.piece-color-white { background-position-y: -105px; }
  td.piece-type-king { background-position-x: -30px; }
  td.piece-type-queen { background-position-x: -112px; }
  td.piece-type-bishop { background-position-x: -282px; }
  td.piece-type-knight { background-position-x: -365px; }
  td.piece-type-rook { background-position-x: -197px; }
  td.piece-type-pawn { background-position-x: -450px; }

}