<!DOCTYPE html>
<html>
<head>
  <title>Chess Master </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='menu'>
  <div class='buttons'>
   &nbsp;
  </div>
  <div class='user_menu'>
     
  </div>
</div>
<div class='header'>
  <div class='header_content'>
    <div class='title'>
      Chess Master
    </div>
    <div class='sub_title'>
      Can you beat the chess master?
    </div>
  </div>
</div>
<div class='body'>
  <%= yield %>
</div>
</body>
</html>
